/*My CSS*/

body {
    background-image: url("attractive-backdrop-background-988872.jpg");
}

.mainDiv {
    /*font-family: 'Slabo 27px', serif;*/
    font-family: 'Oswald', sans-serif;
}

.mainDiv h1 {
    font-size: 55pt;
}

.mainDiv p {
    font-size: 21pt;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    /*margin-bottom: 0;*/
    border-radius: 0;
    font-family: 'Amatic SC', cursive;
    /*font-weight: bold;*/
    font-size: 22pt;
    color: black;
}

#marker {
    font-family: 'Permanent Marker', cursive;
    font-size: 72pt;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

.well {
    /*background-color: rgba(29,85,144, 0.3);*/
    /*background-color: rgba(3,45,90, 0.2);*/
    background-color: rgba(255,255,255, 0.5);
    border-color: black;
}

/*a {*/
/*    !*font-family: 'Amatic SC', cursive;*!*/
/*    !*font-weight: bold;*!*/
/*    !*font-size: 22pt;*!*/
/*    !*color: black;*!*/
/*}*/

/*p {*/
/*    font-size: large;*/
/*}*/

.sidebar {
    font-size: 28pt;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    /*font-size: 22pt;*/
    color: black;
}

[class*=col-] {
    background-color: transparent;
}

/*.col-md-6 {*/
/*    border-style: solid;*/
/*    border-color: red;*/
/*}*/

/*.col-md-2{*/
/*    border-style: solid;*/
/*    border-color: blue;*/
/*}*/

/*.col-md-8 {*/
/*    border-style: solid;*/
/*    border-color: red;*/
/*}*/

/*.col-sm-2{*/
/*    border-style: solid;*/
/*    border-color: blue;*/
/*}*/

/*.row {*/
/*    border-style: dashed;*/
/*    border-color: yellow;*/
/*}*/

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}
